@page "/counter"
@inject IStringLocalizer<SharedResource> L

<PageTitle>@L["Page.Counter.Title"]</PageTitle>

<h1>@L["Page.Counter.Title"]</h1>

<p role="status">@L["Page.Counter.CurrentCount", currentCount]</p>

<button class="btn btn-primary" @onclick="IncrementCount">@L["Page.Counter.ClickMe"]</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
